<p id="notice"><%= notice %></p>

<p>
  <b>Qtype:</b>
  <%= @question.qtype %>
</p>

<p>
  <b>Qlevel:</b>
  <%= @question.qlevel %>
</p>


<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
